/*
#-----------------------------------------------------------------------------
# Copyright Regione Piemonte - 2020
# SPDX-License-Identifier: EUPL-1.2-or-later
#-----------------------------------------------------------------------------
*/

table td.tabdetail {background-color: #EBEEFC;}

/*caption SP*/
h4.caption {
background: -moz-linear-gradient(top,  #ffffff 30%, #E4E6E8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#ffffff), color-stop(100%,#E4E6E8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 30%,#E4E6E8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 30%,#E4E6E8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 30%,#E4E6E8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 30%,#E4E6E8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#E4E6E8',GradientType=0 ); /* IE6-8 */
}

div.detailTable h4 {background: linear-gradient(to bottom, #fff 0%, #fff 100%) repeat scroll 0 0 transparent;}

/*paginazione SP arrow blu*/
span.previousPage a,span.previousPage a:link,span.previousPage a:visited,span.previousPage a:hover,span.previousPage a:active {padding-left:10px;margin-right:8px;background:transparent url(/ris/resources/global/css/im/ico_freccia_prec_sp.gif) 0% 50% no-repeat;}
span.nextPage a,span.nextPage a:link,span.nextPage a:visited,span.nextPage a:hover,span.nextPage a:active {padding-right:14px;margin-left:8px;background:transparent url(/ris/resources/global/css/im/ico_freccia_succ_sp.gif) 100% 50% no-repeat;}
span.number span.highlighted, span.number a:hover {background-color:#1A4B74;color:#fff}